html {
  height: 100%;
}
body {
  height: inherit;
  background: radial-gradient(
    circle at 0% 0.5%,
    rgb(241, 241, 242) 0.1%,
    rgb(224, 226, 228) 100.2%
  );
}
.container {
  font-family: "Advent Pro", sans-serif;
}
.card {
  width: 45rem;
}
.current-info-card {
  background: linear-gradient(
    109.8deg,
    rgb(238, 9, 121) 42.8%,
    rgb(255, 106, 0) 83.3%
  );
  color: #fff;
}
.date {
  padding: 10px 0 0 10px;
  margin: 0;
}
.time {
  padding: 0 0 0 10px;
  margin: 0;
}
.temp {
  font-size: 100px;
  font-weight: 200;
  padding: 0 0 0 10px;
  margin: 0;
  margin-top: 30%;
  line-height: normal;
}
.location {
  font-size: 25px;
  padding: 0 10px 0 10px;
  margin: 0;
  text-align: right;
}
.weather {
  margin: 0;
  text-align: right;
}
.forecast {
  padding: 10px 0 0 0;
  font-size: 20px;
}
.footer {
  margin-bottom: 0;
  font-size: 10px;
  text-align: right;
}
.wind {
  padding: 0 10px 0 10px;
  margin: 0;
  text-align: right;
}
.weather-type {
  margin: 0;
  padding: 0 10px 0 10px;
  text-align: right;
}
.maxTemp {
  text-align: right;
}
.minTemp {
  color: #0000007a;
}
